
.chat-bubble {
    width: fit-content;
    background-color: #7FBBA9;
    color: #333;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 110%;
}
.chat-bubble::after {
    content: '';
    position: absolute;
    bottom: 8px;
    right: -15px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #7FBBA9;
    border-right: 0;
    border-bottom: 0;
    margin-top: -5px;
}
.bg-chat-custom{
    background-color: rgb(99,173,151,0.4);
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #2caf87;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid  #7FBBA9;;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

@media only screen and (max-width: 600px) {
    .ww{
        flex-direction: column-reverse;
    }
    .chat-bubble{
        display: none;
    }
    .chat-img{
        height: 250px;
    }
    .chat-intro{
        font-size: 90%;
    }
    .chat-title{
        font-size: large;
        font-weight: bold;
    }
    
}


@media only screen and (min-width: 600px) {
    .ww{
        flex-direction: column-reverse;
    }
    .chat-bubble{
        display: none;
    }
    .chat-img{
        height: 250px;
    }
    .chat-intro{
        font-size: 100%;
    }
    .chat-title{
        font-size: large;
        font-weight: bold;
    }
     
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .ww{
        flex-direction: row;
    }
    .chat-p3{
        gap: 4rem;
    }
    .chat-bubble{
        display: flex;
        font-size: 75%;
    }
    .chat-img{
        height: 250px;
    }
    .chat-intro{
        font-size: 80%;
    }
    .chat-title{
        font-size: large;
        font-weight: bold;
    }
    
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .chat-p3{
        gap: 6rem;
        margin-right: 50px;
    }
    .chat-bubble{
        font-size: 85%;
    }
    .chat-img{
        height: 350px;
    }
    .chat-intro{
        font-size: 90%;
    }
    .chat-title{
        font-size: large;
        font-weight: bold;
    }
    
}

@media only screen and (min-width: 1200px) {
    .chat-p3{
        gap: 6rem;
    }
    .chat-bubble{
        display: grid;
        font-size: 100%;
    }
    .chat-img{
        height: 450px;
    }
    .chat-intro{
        font-size: 105%;
    }
    .chat-title{
        font-size: x-large;
        font-weight: bold;
    }
    
}
