@import url('https://fonts.googleapis.com/css2?family=Vazir&display=swap');
:root {
  background: linear-gradient(62deg, #5f9c7d 0%, #aeffdb 100%) no-repeat;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir, Arial, sans-serif;
}

.modal {
  --bs-modal-border-color: white !important;
}
.modal-header {
  border-bottom: white !important;
  margin-top: -33px;
}

.modal-content {
  margin-top: 25px;
  /* background-color: rgb(247, 252, 249); */

}

.bd_modal {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(62deg, #5f9c7d 0%, #aeffdb 100%);
}



.wrapper_modal {
  margin-left: 545px;
  margin-top: 40px;
  max-height: 622px;
  max-width: 442px;
  background: #fff;
  padding: 30px;
  padding-top: 5px ;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgb(12, 7, 14) 0px 20px 30px -10px;
  /* background-color: rgb(247, 252, 249); */

}

.wrapper_modal .header_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Vazir, Arial, sans-serif;
  text-align: center;
  margin-bottom: -13px;
}

.wrapper_modal .title_modal {
  font-family: Ios15Medium;
  width: 50%;
  font-size: 29px;
  color: #767575;
  font-weight: 700;
  text-align: center;
  text-shadow: rgb(99, 140, 115) 0px 0px 7px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_modal .form_container_modal {
  width: 100%;
  overflow: hidden;
}


.form_container_modal .form_details_modal{
  display:flex;
  width:200%;
  font-family: Vazir, Arial, sans-serif;

}
.form_container_modal .form_details_modal form{
 margin-top: 10px;
  width:50%;
  transition:all 0.6s cubic-bezier(0.68 , -0.55 , 0.265 , 1.55);
  font-family: Vazir, Arial, sans-serif;

}
.form_details_modal form .field_modal {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-family: Vazir, Arial, sans-serif;
  transition: border-color 0.3s ease;
  
}

.form_details_modal .form .field_modal .input {
  width: 170%;
  height: 100%;
  direction: rtl;
  outline: none;
  padding-left: 15px;
  border: none;
  border-bottom: 2px solid #adadad;
  font-size: 14px;
  transition: border-color 0.3s ease;
  color: gray;
  caret-color: rgb(103, 175, 128);
  font-family: Vazir, Arial, sans-serif;

}


.form_details_modal form .field_modal:hover {
  border-bottom-color: #a0cfb4;
}

.form_details_modal form .field_modal:focus {
  border-bottom-color: #97d2ab;
}

.form_details_modal form .field_modal::placeholder {
  font-family: Vazir, Arial, sans-serif;
  color: #999;
  transition: all 0.3s ease;
  font-family: Vazir, Arial, sans-serif;
  
}

/****************************/
.form_details_modal .form .field_modal_date .input_date {
  width: 95%;
  border: none;
  height: 100%;
  direction: rtl;
  outline: none;
  padding-left: 15px;
  border: none;
  margin-top: 20px;
  font-size: 18px;
  color: gray;
  caret-color: rgb(103, 175, 146);
  font-family: Vazir, Arial, sans-serif;

}

.field_modal .jb-date-input-web-component .input-box {
  overflow: auto;
  text-align: right;
  width: 145%;
  border-color: white !important;
  z-index: 2000;
  height: 100%;
  direction: rtl;
  outline: none;
  padding-left: 15px;
  font-size: 18px;
  color: gray;
  caret-color: rgb(103, 175, 137);
  font-family: Vazir, Arial, sans-serif;
  background-color: white;
  border: none !important;
  border-bottom: none !important;
}


.form_details_modal form .field_modal_date {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  font-family: Vazir, Arial, sans-serif;
  transition: border-color 0.3s ease;
  border-bottom: "2px solid #adadad",
}
.field_modal_date:hover {
  border-bottom-color: #bdf3d4;
}

.form_details_modal form .field_modal_date:focus {
  border-bottom-color: #8cb799;
}

.field-date{
  margin-right: 10px;
  height: 35px;
  width: 400px;
  position: relative;
  font-size: 17px;
  color: rgb(222, 218, 218);
  --jb-date-input-border: none !important;
  --jb-date-input-border-radius:none;
  --jb-date-input-border-color: white;
  --jb-date-input-border-size: 2px;
  --jb-date-input-border-color-focus:white;
  --jb-date-input-bgcolor:#fff;
  --jb-date-input-border-bottom-width:1px;
  --jb-date-input-label-font-size  :12px;
  --jb-date-input-value-color:rgb(117, 117, 117);
  --jb-date-input-value-font-size:18px;
  --jb-date-input-placeholder-font-size:18px;
  --jb-date-input-placeholder-color:rgb(136, 136, 136);
  --jb-date-input-calender-wrapper-bg-color:#acffb4;
  --jb-date-input-calender-wrapper-border-radius:0;
  --jb-calendar-arrow-button-border-radius:5px;
  --jb-date-input-calendar-wrapper-z-index: 9999999;
  --jb-date-input-web-component-calendar-container---show-transform: translateY(-600px);
}

.custom-calendar {
  top: calc(100% + 10px); /* Position the calendar wrapper below the input field */
  left: 0; /* Align the calendar wrapper with the left edge of the input field */
  width: 100%; /* Ensure the calendar wrapper spans the full width of the modal */
  max-height: calc(100vh - 200px); /* Limit the maximum height of the calendar wrapper to fit within the modal */
  overflow-y: auto; /* Enable vertical scrolling if the calendar exceeds the maximum height */
}

.field-date .jb-date-input-web-component .calendar-container .--show{
  transform: translateY(-100px); /* Adjust the translateY value as needed */
}

.jb-date-input-web-component .calendar-container {
  will-change: transform;
  transition: transform 0.5s 0s ease;
  position: fixed !important;
  top:100px;
  right: 200px;
}

.jb-date-input-web-component .calendar-container.--show {
  transform: translateY(-200px);
}

.custom-calendar {
  top: -300px; 
  position: absolute;
}

.calendar-container --show {
  transform: translateY(-200px);
}

.field-date::placeholder {
  color: rgb(222, 218, 218);
}

.field-date:hover {
  color: #96f6ac;
}


form .field_modal_date .input_date:focus::placeholder{
  color:#69e498;
  font-family: Vazir, Arial, sans-serif;

}


form .field_modal_date .input_date:hover::placeholder {
  color: #99ffbd;
  font-family: Vazir, Arial, sans-serif;

}


.form_details_modal form .field_modal .input:hover {
  border-bottom-color: #90bd9e;
  color: rgb(146, 197, 174);
}

.form_details_modal form .field_modal .input:focus {
  border-bottom-color: #85c69a;
}

.form_details_modal form .field_modal input::placeholder {
  font-family: Vazir, Arial, sans-serif;
  color: #999;
  transition: all 0.3s ease;
  font-family: Vazir, Arial, sans-serif;
  
}


form .field_modal input:focus::placeholder{
  color:#6a9a7d;
  font-family: Vazir, Arial, sans-serif;

}


form .field_modal input:hover::placeholder {
  color: #86aa92;
  font-family: Vazir, Arial, sans-serif;

}


form .field_modal:focus::placeholder{
  color:#6a9a7d;
  font-family: Vazir, Arial, sans-serif;

}


form .field_modal:hover::placeholder {
  color: #86aa92;
  font-family: Vazir, Arial, sans-serif;

}


.field_modal select:hover option[value="gender"]:not(:checked) {
  color: #8bb69d; /* Change this to your desired hover color */
}

.field_modal .rmdp-container .rmdp-input {
  color: rgb(133, 132, 132) !important;
  font-size: 14px;
  border-color: white;
}

.field_modal .rmdp-container .rmdp-input:focus {
  color: rgb(133, 132, 132) !important;
  font-size: 14px;
  border-color: white;
}

.field_modal .rmdp-container .rmdp-input:hover {
  color: rgb(157, 195, 178) !important;
  font-size: 14px;
  border: none;
  border-color: white;

}



form .btn-modal{
  
  height: 50px;
  width:100%;
  border-radius: 35px;
  position:relative;
  overflow: hidden;
  font-family: Vazir, Arial, sans-serif;
  border-color: #5f9c7d;

}
form .btn-modal .btn_layer_modal{
  
  width:300%;
  height: 100%;
  position: absolute;
  left:-100%;
  border-radius: 30px;
  background: -webkit-linear-gradient(left,#2e7853 , #6eae8d,#d5e6dd);
  transition: all 0.3s ease
}
form .btn-modal:hover .btn_layer_modal{
  left:0;
}
form .btn-modal input[type="submit"]{
  display:inline;
  font-family: Ios15Medium;
  height:100%;
  width:100%;
  position:relative;
  color:#fefcfc;
  z-index: 1;
  border:none;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight:500;
  cursor:pointer;
  background: none;
  text-shadow: rgb(214, 215, 218) 0px 0px 3px;
  font-family: Vazir, Arial, sans-serif;

}

/* CSS */
 .button-20 {
  appearance: button;
  background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #807ee1;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #f5cd3c;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: -60px;
  margin-right: -25%;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  font-family: Vazir, Arial, sans-serif;

}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
    background-color: #79b092;
    border-color: #99c7b0;
  }
  
.button-20:focus {
    background-color: #82c9a9;
    border-color: #7da78b;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
  }

.button-20:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.select-field_modal option:checked {
  color: rgb(0, 255, 106); 
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.523); /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the overlay appears above other elements */
}


.field_modal .custom-select {
  position: relative;
  display: inline-block;
}

.field_modal .select-trigger {
  background-color: white;
  padding: 0 30px 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  color: rgb(188, 186, 186);
}

.field_modal .select-trigger:hover {
  background-color: #f0f0f0;
}

.field_modal .arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgb(188, 186, 186);
}

.field_modal .options {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}

.field_modal .options li {
  padding: 10px;
  cursor: pointer;
  font-family: "Vazir", Arial, sans-serif;
}

.field_modal .options li:hover {
  background-color: #f0f0f0;
}

.field_modal .custom-select.open .options {
  display: block;
}

.custom-swal-container .swal2-popup {
  border-radius: 15px; /* Adjust the radius as per your preference */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); 
}

.custom-swal-container .swal2-title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Adjust the shadow values as per your preference */
}

.custom-swal-container .swal2-content {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Adjust the shadow values as per your preference */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .wrapper_modal {
    max-width: 90%;
    padding: 15px;
  }

  .title_modal {
    font-size: 20px;
  }

  .form_details_modal form {
    max-width: 100%;
  }

  .field_modal_date,
  .field_modal {
    font-size: 14px;
  }

  .btn-modal input[type="submit"] {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .wrapper_modal {
    max-width: 95%;
    padding: 10px;
  }

  .title_modal {
    font-size: 18px;
  }

  .btn-modal input[type="submit"] {
    font-size: 14px;
  }
}