/* Crasoul.module.css */

.carouselControlPrevIcon,
.carouselControlNextIcon {
  background-color: lightgreen; /* Change button background */
  border-radius: 50%; /* Make it circular */
  width: 40px; /* Adjust size */
  height: 40px; /* Adjust size */
}

.carouselControlPrevIcon:hover,
.carouselControlNextIcon:hover {
  background-color: darkgreen; /* Change color on hover */
}

.carouselImage {
  border-radius: 10px; /* Rounded corners for images */
}

.carouselBackground {
  background-color: #63ad97;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 90%;
}
.upperLeftCaption {
  position: absolute;
  /* top: 10%;
  left: 10%;  */
  text-align: center;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); Optional: semi-transparent background */
  padding: 10px;
  font-size: xx-large;
  font-family: "Ios15Medium";
  border-radius: 5px;
}
.lowerRightCaption {
  position: absolute;
  bottom: 10%; 
  right: 0%;
  text-align: right;
  color: white;
  font-size: xx-large;
  font-family: "Ios15Medium";
  padding: 0px;
  border-radius: 5px;
}
