@import url("https://fonts.googleapis.com/css2?family=Vazir&display=swap");

:root {
  background: linear-gradient(62deg, #55ad9b 0%, #d8efd3 100%) no-repeat;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hello {
  background-image: url("./login_bg.webp"); /* Replace with the correct path */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  min-height: 100vh; /* Full viewport height */
  display: flex; /* Flexbox for centering */
  justify-content: center;
  align-items: center;
}

.bd {
  height: 100%;
  width: 100%;
  place-items: center;
}
.error {
  color: red;
  font-size: smaller;
  height: 1px;
  position: relative;
  top: -10px;
  direction: ltr;
}
.checkbox {
  padding-left: 20px;
  margin-left: 10px;
  color: #49a391;
  background-color: #49a391;
  font-family: Ios15Medium;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.is_doctor_ckeck {
  direction: rtl;
  padding-top: 15px;
}
.is_doctor_ckeck .checkbox[type="checkbox"]:checked {
  accent-color: #49a391;
}

.wrapper {
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgb(80, 205, 144) 0px 20px 30px -10px;
}
.wrapper .header {
  display: flex;
  width: 200%;
}
.wrapper .title {
  font-family: Ios15Medium;
  width: 50%;
  font-size: 32px;
  color: #767575;
  font-weight: 700;
  text-align: center;
  text-shadow: rgb(97, 192, 150) 0px 0px 7px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .form_container {
  width: 100%;
  overflow: hidden;
}

.wrapper .slider_controls {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: flex;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 35px;
}

.slider_controls .slide {
  font-family: Ios15Medium;
  width: 100%;
  color: #fff;
  height: 100%;
  line-height: 48px;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
  text-shadow: rgb(214, 215, 218) 0px 0px 4px;
}
input[type="radio"] {
  display: none;
}
.slider_controls label.signup {
  /* color: #000; */
  color: #767575;
}

.slider_controls .slider_tab {
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  /*background: -webkit-linear-gradient(left,#5a0066 , #5c0080 , #9500b3,#8a00e6);*/
  background: -webkit-linear-gradient(left, #55ad9b, #95d2b3, #d8efd3);
  position: absolute;
  border-radius: 35px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#signup:checked ~ .slider_tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  user-select: none;
}

#signup:checked ~ label.login {
  /* color:#000; */
  color: #767575;
}
#login:checked ~ label.signup {
  /* color:#000; */
  color: #767575;
}
#login:checked ~ label.login {
  user-select: none;
}
.form_container .form_details {
  display: flex;
  width: 200%;
}
.form_container .form_details form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form_details form .field {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.form_details form .field input {
  width: 100%;
  height: 100%;
  direction: rtl;
  outline: none;
  padding-left: 15px;
  border: none;
  border-bottom: 2px solid #adadad;
  font-size: 18px;
  transition: border-color 0.3s ease;
  color: gray;
  caret-color: #55AD9B(152, 103, 175);
}

.error_input {
  width: 100%;
  height: 10px;
  direction: rtl;
  outline: none;
  margin-top: 5px;
  padding-left: 15px;
  border: none;
  font-size: 13px;
  font-weight: bold;
  transition: border-color 0.3s ease;
  color: #55ad9b;
  caret-color: #55ad9b;
}
.error_input2 {
  width: 100%;
  height: 10px;
  text-align: center;
  direction: rtl;
  outline: none;
  margin-top: 7px;
  padding-left: 15px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  transition: border-color 0.3s ease;
  color: #55ad9b;
  caret-color: #55ad9b;
}
.form-check-label {
  font-family: Ios15Medium;
  color: #999;
  font-size: small;
  transition: all 0.3s ease;
}

.form_details form .field input:hover {
  border-bottom-color: #55ad9b;
}

.form_details form .field input:focus {
  border-bottom-color: #55ad9b;
}

.form_details form .field input::placeholder {
  font-family: Ios15Medium;
  color: #999;
  transition: all 0.3s ease;
}

.form_details form .field .toggle-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the position of the toggle icon */
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.4;
  transition: color 0.3s ease;
}

.form_details form .field .toggle-icon:hover {
  color: #49a399;
}

.form_details form .field .toggle-icon2 {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the position of the toggle icon */
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.4;
  transition: color 0.3s ease;
}

.form_details form .field .toggle-icon2:hover {
  color: #49a399;
}

form .field input:focus::placeholder {
  color: #49a391;
}

form .field input:hover::placeholder {
  color: #55ad9b;
}
.form_details form .pass_link {
  margin-top: 5px;
}
.form_details form .signup_link {
  margin-top: 30px;
  color: #767575;

  text-align: center;
}
.form_details form .pass_link a,
.form_details form .signup_link a {
  font-family: Ios15Medium;
  color: #55ad9b;

  text-decoration: none;
  font-size: 15px;
}
.form_details form .signup_link {
  font-family: Ios15Medium;
  font-size: 17px;
  text-align: center;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 35px;
  position: relative;
  overflow: hidden;
}
form .btn .btn_layer {
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
  border-radius: 30px;
  /* background:-webkit-linear-gradient(right,#350066,#710080,#a400b3, #bd4fe9); */
  background: -webkit-linear-gradient(left, #55ad9b, #95d2b3, #d8efd3, #e6fffd);
  transition: all 0.3s ease;
}
form .btn:hover .btn_layer {
  left: 0;
}
form .btn input[type="submit"] {
  display: inline;
  font-family: Ios15Medium;
  height: 100%;
  width: 100%;
  position: relative;
  color: #fff;
  z-index: 1;
  border: none;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: none;
  text-shadow: rgb(214, 215, 218) 0px 0px 3px;
}
