body {
  font-family: Ios15Medium;
}

/* @media (min-width: 992px) {
    .container {
        width: 970px;
    }
} */

.all {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 2rem;
  margin-bottom: 7rem;
}

@media (max-width: 490px) {
  .all {
    flex-direction: column;
  }
}

.containerTable {
  /* max-width: 1000px;
    margin-left: 50px;
    margin-right: 360px;
    padding-left: 10px; */
  padding-right: 20px;
  /* margin-bottom: 300px; */
}

@media (min-width: 992px) {
  .containerTable {
    width: 970px;
  }
}

@media (min-width: 480px) {
  .containerTable {
    flex-direction: column;
  }
}

/* @media (max-width: 900px) {
      .distanceBetweenDoctor {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  
  @media (max-width: 710px) {
      .distanceBetweenDoctor {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    @media (max-width: 480px) {
      .distanceBetweenDoctor {
        grid-template-columns: repeat(2, 1fr);
      }
    } */


.responsive-table {

  /* padding-left: 1rem; */
  li {
    min-width: fit-content;
    border-radius: 20px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .table-header {
    background-color: #c4d5d194;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }

  .col-1 {
    flex-basis: 16%;
    text-align: center;
    color: #707d77;
  }

  .col-2 {
    /* flex-basis: 25%; */
    text-align: center;
    color: #627069;
  }

  .col-3 {
    flex-basis: 25%;
  }

  .col-4 {
    flex-basis: 25%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }

    .table-row {}

    li {
      display: block;
    }

    .col {
      flex-basis: 100%;

    }

    .col {
      display: flex;
      padding: 10px 0;

      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

.button-24 {
  /* background: #351f6773; */
  border: 2px solid #198754;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #198754;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #351f6773;
}

.button-24:active {
  opacity: .5;
}