.reserve_Box {
  gap: 50px;
  padding: 4%;
  border-radius: 35px;
  height: 100%;
  width: 85%;
  background-image: linear-gradient(90deg,  #addbf4 0%, #bdedd5  100%);
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.Myrow {
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}

@media (max-width: 2560px) {
  .Myrow {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 606px) {
  .Myrow {
    display: block;
  }
}

.reserve_docProfile {
  text-align: center;
}


.reserve_docProfile a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(4, 9, 29, 0.3);
  display: inline-block;
}

.reserve_docProfile a img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.reserve_hour_title {
  font-family: "Ios15Medium";
  font-weight: bold;
  color: rgb(4, 125, 125);
}

.Reservation_error_input {
  background-color: #fffbde;
  color: rgb(4, 125, 125);
  direction: rtl;
  font-weight: 300;
  width: fit-content;
  font-size: large;
}

.reserve_hour_items {
  display: flex;
  justify-content: center;
  align-items: center;}

.reserve_hcard_bd {
  font-family: "Ios15Medium";
  font-size: large;
  text-align: center;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(10deg, #acd8c3 0%, #AEE2FF 100%);
  border-radius: 30px;
  box-shadow: #949393 4px 4px 0 0;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
}

.reserve_plugin{
  padding-top: 1rem; 
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  border-radius: 0rem 1rem 1rem 0rem ;
}

.reserve_hcard_bd:hover {
  cursor: pointer;
  background: #78dead;
}

.custom_calendar {
  font-size: 500px !important;
  border-radius: 1rem 1rem 1rem 1rem !important;
  width: fit-content;
}

.button_74 {
  background-color: #9c7aed;
  border: 2px solid #b2a2d9;
  border-radius: 30px;
  box-shadow: #939393 4px 4px 0 0;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Ios15Medium;
  font-weight: 300;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_74:hover {
  background-color: #e9e3f7;
}

.button_74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button_74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.reserve_choices {
  list-style-type: none;
}

input[type="radio"] {
  cursor: pointer;
  display: inline-flex;
}

.reserve_choices .reserve_choices_op {
  font-family: "Ios15Medium";
}

.reserve_choices .reserve_choices_op span {
  padding-right: 5px;
}

.button_back {
  --primary-color: #111;
  --hovered-color: rgb(15, 127, 116);
  display: flex;
  font-weight: 600;
  gap: 1%;
  align-items: center;
  justify-content: end;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.button_back p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
  font-family: "Ios15medium";
}

.button_back::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.button_back p::before {
  position: absolute;
  content: "صفحه اصلی";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0s ease-out;
}

.button_back:hover::after {
  width: 100%;
}

.button_back:hover p::before {
  width: 100%;
}

.button_back:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.button_back svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}