@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazir&display=swap');
.phq9-body {
  direction: rtl;
  background: -webkit-linear-gradient(left,#15B392, #C9E9D2);
  color: #413f45;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 40px 30px;
  font-family: Ios15Medium;
  height: 95vh;
}

.phq9-quiz-container {
  width: 600px; /* Decrease container width */
  height: 96%;
  max-width: 100%;
  min-height: 300px; /* Decrease minimum height */
  background: #ffffff;
  border-radius: 15px; /* Decrease border radius */
  margin-top: 5px; /* Decrease margin top */
  padding: 40px 60px; /* Adjust padding */
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Decrease box shadow */
}

.phq9-quiz-container .phq9-active-question-no {
  font-size: 30px; /* Decrease font size */
  font-weight: 500;
  color:#76baab;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Decrease text shadow */
}

.phq9-quiz-container .phq9-total-question {
  font-size: 18px; /* Decrease font size */
  font-weight: 500;
  color: #959496;
}

.phq9-quiz-container h2 {
  font-size: 18px; /* Decrease font size */
  font-weight: 500;
  margin: 0;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: #636363;
  font-family: Ios15medium;
}

.phq9-quiz-container ul {
  margin-top: 20px; /* Adjust margin top */
  margin-right: -30px; /* Adjust margin right */
}

.phq9-quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #47464e;
  font-size: 16px; /* Decrease font size */
  background: #ffffff;
  border: 1px solid #d6d6d8;
  border-radius: 15px; /* Decrease border radius */
  padding: 10px; /* Decrease padding */
  margin-top: 15px; /* Decrease margin top */
  cursor: pointer;
  transition: color 0.3s ease;
  margin-right: 41px;
  text-align: center;
  font-family: Ios15medium;
}

.phq9-quiz-container ul .phq9-selected-answer {
  background: #bee4cf;
  border: 1px solid #83bfa1;
}

.phq9-quiz-container button {
  background: -webkit-linear-gradient(left,#15B392, #AEE2FF);
  border-radius: 12px; /* Decrease border radius */
  font-size: 18px; /* Decrease font size */
  color: #ffffff;
  padding: 12px 40px; /* Decrease padding */
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 30px; /* Decrease margin top */
  transition: all 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Decrease box shadow */
  font-family: Ios15medium;
}

.phq9-quiz-container button:hover {
  background: -webkit-linear-gradient(left, #15B392, #15B392, #15B392);
}

.phq9-quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.phq9-flex-right {
  display: flex;
  justify-content: flex-end;
}

.phq9-result h3 {
  font-size: 20px; /* Decrease font size */
  letter-spacing: 1px; /* Decrease letter spacing */
  text-align: center;
}

.phq9-result p {
  font-size: 16px; /* Decrease font size */
  font-weight: 500;
}

.phq9-result p span {
  color: #59fac2;
  font-size: 25px; /* Decrease font size */
}

.phq9-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; /* Decrease margin top */
}

.phq9-button-group button {
  flex: 0 0 150px; /* Decrease button width */
  margin: 0 10px; /* Decrease margin */
}

.phq9-button-group span {
  margin-top: 15px; /* Decrease margin top */
  cursor: pointer;
  transition: all 0.3s ease;
}

.phq9-button-group span:hover {
  color: #15B392;
}

.custom-swal-container .swal2-popup {
  border-radius: 15px; /* Decrease border radius */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Decrease box shadow */
}

.custom-swal-container .swal2-title {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Decrease text shadow */
  font-size: 24px; /* Decrease font size */
}

.custom-swal-container .swal2-content {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Decrease text shadow */
  font-size: 18px; /* Decrease font size */
}

.mbti-progress-bar {
  direction: ltr; /* Set direction to right-to-left */
}

.custom-color .progress-bar {
  background-color: #76baab !important;
}

.phq9-complete-test {
    font-family: Ios15medium;
}