.forget-password-bd{
  background-image: url("../LoginSignUp/login_bg.webp");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.forget-password-wrapper{
  min-height: 305px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgb(80, 205, 144) 0px 20px 30px -10px;
}

.forget-password-title{
  font-family: "Ios15Medium";
  font-size:37px;
  color: #767575;
  font-weight: 700;
  text-align: center;
  text-shadow: rgb(97, 192, 150) 0px 0px 7px;
  transition: all 0.6s cubic-bezier(0.68 , -0.55 , 0.265, 1.55);
}

.forget-password-form_details form .forget-password-field {
  display: flex;
  align-items: center;
  position: relative;
}

.forget-password-form_details form .forget-password-field input {
  width: 100%;
  height: 100%;
  direction: rtl;
  outline: none;
  border: none;
  border-bottom: 2px solid #adadad;
  font-size: 25px;
  transition: border-color 0.3s ease;
  color: gray;
  caret-color: #55AD9B(152, 103, 175);
}

.forget-password-form_details form .forget-password-field input:hover {
  border-bottom-color: #55ad9b;
}

.forget-password-form_details form .forget-password-field input:focus {
  border-bottom-color: #55ad9b;
}

.forget-password-form_details form .forget-password-field input::placeholder {
  font-family: "Ios15Medium";
  color: #999;
  transition: all 0.3s ease;
}

.forget-password-form_details form .forget-password-field .forget-password-eye {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the position of the toggle icon */
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.4;
  transition: color 0.3s ease;
}

.pt_form_details form .forget-password-field .forget-password-eye:hover {
  color: #55ad9b;
}


.forget-password-checkmark {
  position: absolute;
  top: 48%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}


form .forget-password-field input:focus::placeholder{
  color: #55ad9b;}

form .forget-password-field input:hover::placeholder {
  color: #55ad9b;
}
.forget-password-pass_link{
  margin-top: 5px;
  font-family: Ios15Medium;
  color: #55ad9b;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  
}
.forget-password-pass_link :hover
{
  color: #dccffd;
}

form .forget-password-btn{
  
  height: 50px;
  width:100%;
  border-radius: 35px;
  position:relative;
  overflow: hidden;
  

}
form .forget-password-btn .forget-password-btn_layer{
  width:300%;
  height: 100%;
  position: absolute;
  left:-100%;
  border-radius: 30px;
  background: -webkit-linear-gradient(left, #55ad9b, #95d2b3, #d8efd3, #e6fffd);
  transition: all 0.3s ease
}
form .forget-password-btn:hover .forget-password-btn_layer{
  left:0;
}
form .forget-password-btn input[type="submit"]{
  
  font-family: "Ios15Medium";
  height:100%;
  width:100%;
  position:relative;
  color:#fff;
  z-index: 1;
  border:none;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight:500;
  cursor:pointer;
  background: none;
  text-shadow: rgb(214, 215, 218) 0px 0px 3px;
}
